<div class="tile is-parent is-fullheight">
        <article class="tile is-child inner">
                <div class="content">
                        <h1 id="title">Bills</h1>
                        <div class="opa">
                                Rent: {{bills.rent}}<br>
                                Car Insurance: {{bills.carInsurance}}<br>
                                Power Bill: {{bills.power}}<br>
                                Credit Cards: {{bills.cc}}<br>
                                Other: {{bills.other}}<br>
                                Total: {{shoesie.billsTotal}}<br>
                        </div>
                        <br>
                        <a href='/shoesies/{{shoesieId}}/bills/edit'><button class="button">Edit</button></a><br>
                </div>
        </article>
</div>
<br>
<a href="/shoesies/{{shoesieId}}"><button class="button">Back</button></a>