<h1 id="title">Bills</h1>

<div>
        <div>Rent: {{bills.rent}}<br>
        Car Insurance: {{bills.carInsurance}}<br>
        Power Bill: {{bills.power}}<br>
        Credit Cards: {{bills.cc}}<br>
        Other: {{bills.other}}<br>
        Total: {{shoesie.billsTotal}}<br>
        <a href='/shoesies/{{shoesieId}}'>Go back</a> | <a href='/shoesies/{{shoesieId}}/bills/edit'>Edit</a></div>
</div>