<h1>Income(s) <a href='shoesie/{{shoesieId}}/income/new'>( new )</a></h1>

<div>
        <div>Income: {{income.primaryIncome}}<br>
        Other Income: {{income.otherIncome}}<br>
        Total: {{shoesie.incomeTotal}}
        {{!-- <a href='/users/{{../userId}}/bands/{{this._id}}'>Go to Band</a></div> --}}
</div>