<div class="tile is-parent is-fullheight">
        <article class="tile is-child inner notification">
                <div class="content">
                        <h1 id="title">Income</h1>

                        <div>
                                <div>
                                        Income: {{income.primaryIncome}}<br>
                                        Other Income: {{income.otherIncome}}<br>
                                        Total: {{shoesie.incomeTotal}}<br>
                                        <a href='/shoesies/{{shoesieId}}/income/edit'>Edit</a><br>
                                        <a href='/shoesies/{{shoesieId}}'>Go back</a></div>
                        </div>

                </div>
        </article>
</div>