<div class="tile is-parent">
  <article class="tile is-child inner">
    <div class="content">
        <h1 id="title">Income</h1>
        <div>
          <div class="opa">
            Income: {{income.primaryIncome}}<br>
            Other Income: {{income.otherIncome}}<br>
            Total: {{shoesie.incomeTotal}}<br>
          </div><br>
           <a href='/shoesies/{{shoesieId}}/income/edit'><button class="button">Edit</button></a><br>
         </div>
  </article>
</div>
<br>
<a href="/shoesies/{{shoesieId}}"><button class="button">Back</button></a>