<div class="tile is-parent">
  <article class="tile is-child inner">
    <div class="content">

      <h1 id="title">Shoesie Page</h1>

      <div>
        <h2 id="subtitle">{{shoesie.shoesieName}}</h2> 

        <a href='{{shoesie._id}}/shoecost'>Shoe Price:</a> {{shoesie.shoeCost}}

        <br>
        <a href='/shoesies/{{shoesie._id}}/bills'>Bills</a><br>
        <a href='/shoesies/{{shoesie._id}}/income'>Income</a>
      </div><br>


      <br>Should you buy? 
      
      <div class="boolybox">
      <p id="booly">{{shoesie.affordShoes}}</p>
      </div>
      

      <br>
      <a id="subtitle" href='/shoesies'>Shoesie Family</a>
      

      <br><br>
      
      <a href='/shoesies/{{shoesie._id}}/edit'><button class="button">Edit</button></a>
    </div>
  </article>
</div>
<br>
<form action='/shoesies/{{shoesie._id}}?_method=DELETE' method='POST'>
        <input class="button" type="submit" value='Delete Shoesie'>
      </form>