<div class="tile is-parent is-fullheight">
      <article class="tile is-child inner">
        <div class="content">

<h1 id="title">Shoesie Page</h1>

<div><h2 id="subtitle">{{shoesie.shoesieName}}</h2> <br>

    <a href='/shoesies/{{shoesie._id}}/bills'>Bills</a>
    <a href='/shoesies/{{shoesie._id}}/income'>Income</a>
</div><br>
<a href='{{shoesie._id}}/shoecost'>Shoe Cost:</a> {{shoesie.shoeCost}}

<br>Can afford shoes?: {{shoesie.affordShoes}}

<a href='/shoesies'>See the Shoesie Family</a>
<a href='/shoesies/{{shoesie._id}}/edit'>Edit Shoesie</a>


<form action='/shoesies/{{shoesie._id}}?_method=DELETE' method='POST'>
<input type="submit" value='Delete Shoesie'>
</form>
         



         
        </div>
      </article>
    </div>